<!DOCTYPE html>
<html class="theme-sitio" lang="<%= config.language %>" data-theme="light"> 
<!-- light -->
<!-- dark -->
<%- partial('./_widget/_head/head.ejs') %>

<body itemscope="<%= theme.itemscope %>" itemtype="<%= theme.itemtype %>" lang="<%= config.language %>"></body>

<%- partial('./_widget/web-bg.ejs') %>

<!-- mobile start -->
<div class="mobile-terminal">
  <%- partial('./_partial/mobile.ejs') %> 
</div>
<!-- mobile end -->

<div class="wrapper">
  <%- partial('./_partial/_header/header.ejs') %>
  <%- body %>
  <%- partial('./_partial/_footer/footer.ejs') %>
</div>

<!-- Customize right click start -->
<!-- Customize right click end -->

<script src="<%= url_for('js/sitio.min.js') %>?v=<%= theme.version %>"></script>

<!-- pwa -->
<% if(theme.head.manifest) { %>
  <%- partial('./_widget/_script/pwa.ejs') %> 
<% } %> 

</body>
</html>
